body {
    background-color: "ffffff"
    background-size: cover;
    background-position: center;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

#h1name {
    font-weight: 400;
    font-size: 5em;
    letter-spacing: 7px;

}
#h3title{
    letter-spacing: 3px;
}

.content{
    padding-top: 20%;
}

#home{
    background: url(../img/homebg1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    padding: 0px;
    height: 100%;
    height: 100vh;
}

.btn,
.btn:focus,
.btn.active {
    border-style: none;
    border-radius: 25px;
    background-color: #c000ff;
    background-image: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 120px;
}
.porfoliobtn{
    color:#ffffff;
    background-color: #c000ff;
}
.abouth3{
    color: #c000ff;
}
.aboutp{
    color: #1c232e;
}