body {
    background-color: "ffffff"
    background-size: cover;
    background-position: center;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    color: white;
}

#h1name {
    font-weight: 400;
    font-size: 5em;
    letter-spacing: 7px;

}
#h3title{
    letter-spacing: 3px;
}

.content{
    padding-top: 15%;
    padding-bottom: 15%
}

#home{
    background: url(../img/homebg1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative !important;
    background-repeat: no-repeat;
}

.btn,
.btn:focus,
.btn.active {
    border-style: none;
    border-radius: 25px;
    background-color: #c000ff;
    background-image: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 120px;
}
.porfoliobtn{
    color:#ffffff;
    background-color: #c000ff;
}
.headings{
    padding-top: 10%;
    color: #c000ff;
    letter-spacing: 2px;
    font-weight: 700;
}
.aboutp{
    color: #1c232e;
    line-height: 180%;
    font-weight: 400;
}

#about{
    background-image: url(../img/aboutbg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}

.skillslist{
    color: #000000;
    letter-spacing: 3px;
    font-weight: 700;
}
.skills{
    color: #c000ff;
    font-weight: 900;
}
.skillshead{
    padding-top: 10%;
    color: #c000ff;
    letter-spacing: 2px;
    font-weight: 700;
}