img{
    width:30%;
    float:left;
    margin:1.66%;
}
p{
    font-family: raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
}
hr{
    width: 30%;
    margin-left:1.66%;
    border-style: solid;
}